@import "variables";
@import "reset";




body {
	background: $bg-color url(../img/body-bg.png);
	background-attachment: fixed;
	font: {
	    family: 'PTSans-Regular', sans-serif;
	    size: 16px;
	  }
	color: $text-color;
}


.wrapper {
	width: 1335px;
	margin: 0 auto;
	background: #f4f6f8;
	box-shadow: 0 0 60px 5px rgba(0,0,0,0.35);

}
.inner {
	&:before,&:after {content: ""; display: table;}
	&:after {clear: both;}
}

.header {
	background: #626b74 url(../img/header_bg.png) no-repeat;
	width: 1335px;
	position: fixed;
	left: 50%;
	top: 0;
	z-index: 10;
	margin-left: -667.5px;
	&__col1 {
		background: #626b74;
		float: left;
		min-height: 43px;
		width: 13.94%;
	}
	&__col2 {
		background: url(../img/header_bg.png) 0 -43px no-repeat;
		float: left;
		width: 59.22%;
		margin-left: -37px;
	}
	&__col3 {
		background: url(../img/header_bg.png) 0 -86px no-repeat;
		float: left;
		min-height: 43px;
		width: 16.19%;
		margin-left: -37px;
	
	}
	&__col4 {
		background: url(../img/header_bg.png) 0 -129px no-repeat;
		float: left;
		min-height: 43px;
		margin-left: -37px;
	

	}
}
a.logo {
	display: block;
	background: url(../img/mx.png) no-repeat;
	width: 123px;
	height: 27px;
	text-indent: -9000px;
	overflow: hidden;
	text-decoration: none;
	margin: 7px 0 0 20px;
	&:hover {
		background-position: 0 -100px;
	}
}

.nav {
	padding: 0 0 0 34px;
	white-space: nowrap;
	&__item {
		position: relative;
		padding: 9px 16px;
		position: relarive;
		display: inline-block;
		margin-right: -4px;
		white-space: nowrap;
		
	}
	&__link {
		color: #e9eaeb!important;
		line-height: 25px;
		text-decoration: none!important;
		&:hover {
			color: #9fe09f!important;
		}

	}
	&__link--curr {
		&:after  {
			content: "";
			background: url(../img/mx.png) -200px 0 no-repeat;
			width: 7px;
			height: 4px;
			display: inline-block;
			vertical-align: middle;
			margin: 2px -4px 0 5px;
		}
		&:before  {
			content: "";
			display: inline-block;
			min-height: inherit;
			height: 100%;
			vertical-align: middle;
		}
	}

	&__item--activ {
		.nav__link {color: #9fe09f!important;}
	}
	&__item--hasSub {
		.rollMenu {
			display: none;
			cursor: pointer;
			width: 17px;
			position: relative;
			vertical-align: middle;
			top: 1px;
			&__row {
				height: 3px;
				display: block;
				overflow: hidden;
				background: #fff;
				margin-bottom: 3px;
			}
		}
		.rollMenu.activ {
			.rollMenu__row {background: #9fe09f;}
		}
	}

	&__sub {
		position: absolute;
		width: 100%;
		left: 0;
		top: 38px;
		z-index: 100;
		padding: 8px 0 10px 0;
		background: #fff;
		box-shadow: 0 0 15px -5px rgba(0,0,0,0.35);
		display: none;
	}
	&__subItem {
		padding: 13px 4px;
	}
	&__subLink {
		color: #495059!important;
		text-transform: uppercase;
		text-align: center;
		display: block;
	}
}

.languages {
	margin: 0 0 0 34px;
	float: left;
	&__item {
		padding: 9px 0 0 18px;
	}
	&__link {
		&:after  {
				content: "";
				background: url(../img/mx.png) -200px 0 no-repeat;
				width: 7px;
				height: 4px;
				display: inline-block;
				vertical-align: middle;
				position: relative;
				top: 4px;
				margin: 0 -4px 0 2px;
		}
		&:before  {
				content: "";
				display: inline-block;
				min-height: inherit;
				height: 100%;
				vertical-align: middle;
		}
	}
}

.flag {
	background: url(../img/mx.png);
	width: 23px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.flag-ru {
	background-position: -300px 0;
}

.currencies {
	float: left;
	&__item {
		position: relative;
		padding: 11px 0 0 0;
		margin: 0 0 0 12px;
		min-height: 43px;
	}
	&__link {
		color: #f8f8f8!important;
		text-decoration: none!important;
		text-transform: uppercase;
		padding: 0 19px 0 21px;
		&:after  {
				content: "";
				background: url(../img/mx.png) -200px 0 no-repeat;
				width: 7px;
				height: 4px;
				display: inline-block;
				vertical-align: middle;
				position: relative;
				top: 2px;
				margin: 0 -4px 0 5px;
		}
		&:before  {
				content: "";
				display: inline-block;
				min-height: inherit;
				height: 100%;
				vertical-align: middle;
		}
	}
	&__sub {
		position: absolute;
		width: 100%;
		left: 0;
		top: 38px;
		z-index: 100;
		padding: 8px 0 10px 0;
		background: #fff;
		box-shadow: 0 0 15px -5px rgba(0,0,0,0.35);
		display: none;
	}
	&__subItem {
		padding: 13px 4px;
	}
	&__subLink {
		color: #495059!important;
		text-transform: uppercase;
		text-align: center;
		display: block;
	}
}

.search {
	margin: 0 0 0 34px;
	position: relative;
	float: left;
	&__icon {
		background: url(../img/svgicons/search.svg) no-repeat;
		width: 22px;
		height: 22px;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		margin: 11px 0 0 23px;
	}
	&__form {
		position: absolute;
		background: #dbdee3;
		top: 0;
		right: -13px;
		min-height: 43px;
		width: 270px;
		display: none;
	}
	&__field[type="text"] {
		background: #dbdee3;
		border: 0;
		@include border-radius(0);
		height: 43px;
		padding: 6px 27px 6px 14px;
		color: #7c7f82;
	}
	&__field[type="text"]::placeholder {color: #7c7f82;}
	&__zoom {
		border: 0;
		background: url(../img/mx.png) -210px 0 no-repeat;
		width: 14px;
		height: 14px;
		position: absolute;
		right: 11px;
		top: 15px;
		text-indent: -9000px;
		overflow: hidden;
		z-index: 10;
		cursor: pointer;
	}
}
.cart {
	float: left;
	&__icon {
		background: url(../img/svgicons/cart.svg) no-repeat;
		width: 25px;
		height: 23px;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		margin: 10px 0 0 48px;
	}
	&__count {
		display: inline-block;
		vertical-align: middle;
		background: #f8679a;
		@include border-radius(50%);
		text-align: center;
		width: 25px;
		height: 25px;
		line-height: 25px;
		color: #fff;
		margin: 0 0 0 -1px;
		position: relative;
		top: 5px;

	}
}

.profile {
	float: left;
	&__icon {
		background: url(../img/svgicons/profile.svg) no-repeat;
		width: 22px;
		height: 23px;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		margin: 10px 0 0 20px;
	}
}

.hidMenu {
		display: none;
		width: 306px;
		min-height: 200px;
		position: absolute;
		top: 43px;
		right: 0;
		
		&:before  {
				content: "";
				background: #5e666e;
				height: 43px;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				border-bottom-left-radius: 2px;
		}


		.nav__link {float: left; margin: 7px 0 0 0; position: relative; z-index: 2;}
		.languages {
			margin-left: 17px;
			position: relative; 
			z-index: 2;
			&__item {padding-top: 7px;}
		}
		.currencies {
			position: relative; 
			z-index: 2;
			&__item {padding-top: 9px;}
		}
	}

.hidFirstChild {float: left; position: relative; margin: 0 0 0 30px;}


/* MAIN SECTION */
.main {margin: 43px 0 0 0;}
.sidebar {
	border-right: 1px solid #d6d9de;
	font-size: 15px;
	width: 311px;
	&__title {
		margin: 0;
		padding: 20px 20px 10px 20px;
	}
}

.filter {
	&__location {
		padding: 10px;
		.chosen-container-single {
			.chosen-search {
			 	&:before  {
			      content: "";
			      width: 11px;
			      height: 16px;
			      background: url('../img/mx.png') no-repeat -227px 0px;
			      position: absolute;
			      left: 21px;
			      top: 19px;
			    }
			}
			.chosen-search input[type="text"] {
				padding-left: 31px;
			}
			.chosen-single {
				padding-left: 31px;
				&:before  {
			      content: "";
			      width: 11px;
			      height: 16px;
			      background: url('../img/mx.png') no-repeat -227px 0px;
			      position: absolute;
			      left: 10px;
			      top: 8px;
			    }
			}
		}
	}
	&__count {
		padding: 10px 20px;
	}
	&__price {
		padding: 10px;
	}
	&__rating {
		padding: 6px 10px 10px 10px;
	}	
	&__results {
		padding: 10px 20px 30px 20px;
	}	
	&__search {
		margin: 0 20px;
		border: 1px solid #d6d9de;
		border-width: 1px 0;
		padding: 30px 0;
	}
	&__settings {
		padding: 0 20px 20px 20px;
	}
}

.calendar {
	padding: 10px 20px;
	&:before,&:after {content: ""; display: table;}
	&:after {clear: both;}
	&__data {
		width: 47.41%;
		float: left;
		position: relative;
	}
	&__line {
		width: 5.18%;
		float: left;
		color: #677887;
		text-align: center;
		padding: 5px 0 0 0;
	}
	&__img {
		position: absolute;
		right: 12px;
		top: 13px;
		z-index: 10;
		cursor: pointer;
	}
	&__field[type="text"] {
		padding-right: 24px;
	}
}


.chosen-wrap  {position: relative;
	&:before  {
			  display: none;
		      content: "";
		      border: 1px solid #c4ccd5; 
			  @include border-radius(2px);
			  width: auto; 
			  height: 34px;
		      background: #fff url(../img/select-bg.png) no-repeat 96% 16px;
		      margin: 0 10px -36px 10px;
		      display: block;
		      overflow: hidden;
		    }
	select {
		width: 100%;
		height: 34px;
		padding: 0 24px;
		color: #a0a3a7;
		border: none;
		box-shadow: none;
		background-color: transparent;
		background-image: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		option {
			color: #a0a3a7;
			font: {
				family: 'PTSans-Regular', sans-serif;
			    size: 15px;
			}
		}
	}
	select:focus {
	    outline: none;
	}
}

.countList {
	&:before,&:after {content: ""; display: table;}
	&:after {clear: both;}
	&__item {
		width: 47.41%;
		float: left;
		position: relative;
		margin-left: 5.18%;
		&:first-child {margin-left: 0;}
		.chosen-wrap {
			width: 39.06%;
			float: right;
			.chosen-container-single {
				.chosen-single {margin: 0; @include border-radius(3px);}
				.chosen-search {padding: 10px 4px;}
			}
			.chosen-container .chosen-results {margin: 0 4px 4px 0; padding-left: 4px;}
			&:before  {
		      margin-left: 0;
		      margin-right: 0;
		      background-position: 76% 16px;
		    }
		    select {padding: 0 14px;}
		}
	}
	&__text {
		position: relative;
		width: 60.16%;
		float: left;
		padding: 6px 10px 0 0;
		text-align: right;
		font-size: 15px;
		&>a {color: #495059; border-bottom: 1px dashed #a0a4a9; text-decoration: none;}
		&>a:hover {text-decoration: none; border-bottom: 0;}
	}
}

.explanations {
	display: none;
	background: #f4f8fb;
	width: 270px;
	padding: 16px 18px;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
	position: absolute;
	left: -87px;
	top: 47px;
	z-index: 100;
	text-align: left;
	span {
		display: block;
		line-height: 1.2;
	}
	&:before  {
		content: "";
		width: 34px;
		height: 22px;
		background: url(../img/mx.png) -500px 0 no-repeat;
		position: absolute;
		left: 50%;
		top: -22px;
		margin-left: -17px;
    }


}


.rating {
	padding: 0 0 0 21px;
	&__item {
		display: inline-block;
		vertical-align: middle;
		padding: 0 0 0 11px;
		a {color: #8e9297; position: relative;}
		a.rating__link--more {top: 2px;}
	}
	
}

.bnt {
	border: 0;
	background: #f8689a;
	@include border-radius(3px);
	color: #fff;
	padding: 6px 21px;
	line-height: 1.48;
	display:inline-block;
	text-align:center;
	font-size: 15px;
	white-space:nowrap;
	vertical-align:middle;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-image:none;
	overflow: vissible;
	&:hover {background: #da477b;}
	&:disabled {background: #fdd1e1;}
}



.results {
	&:before,&:after {content: ""; display: table;}
	&:after {clear: both;}
	&__items {
		max-width: 50.74%;
		float: left;
		margin: 0;
		padding: 8px 0 0 0;
	}
	&__counts {color: #e76c95;}
	.bnt {float: right;}
}

.settingsList {
	padding: 25px 0 9px 0;
	&.settingsList--noTitle {
		padding-top: 11px;
		dt {height: 0; overflow: hidden;}
	}
	dt {
		color: #8e9297;
		font-weight: bold;
	}
	dd {
		margin: 18px 0 0 0;
		position: relative;
	}
	&__popap {
		display: none;
		background: #f4f8fb;
		padding: 14px 18px;
		box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
		position: absolute;
		min-width: 192px;
		left: 254px;
		top: -18px;
		z-index: 100;
		&.noResult {min-width: 411px;}
		p {
			margin: 0;
			a {
				border-bottom: 1px dashed;
				&:hover {
					text-decoration: none;
					border-bottom: 0;
				}
			}
		}
		&:before  {
			content: "";
			width: 22px;
			height: 34px;
			background: url(../img/mx.png) -500px -22px no-repeat;
			position: absolute;
			left: -22px;
			top: 50%;
			margin-top: -17px;
	    }

	}
	&__count {
		position: absolute;
		right: 0;
		top: 0;
		color: #8e9297;
	}
}


.checkboxWrap {
	position: relative;
	input {vertical-align: top; width: 17px; height: 17px; margin: 0 3px 0 0;
		+ label {cursor: pointer;}
		&:not(checked) {position: absolute; opacity: 0;}
		&:not(checked) + label {position: relative; padding: 0 45px 0 25px; display: block; line-height: 1.2; overflow: hidden;}
		&:not(checked) + label:before {content: ''; background: url(../img/checkbox-small-bg.png) no-repeat; width: 17px; height: 17px; position: absolute; left: 0; top: 1px;}
		&:not(checked) + label:hover:before {background: url(../img/checkbox-small-bg-hover.png) no-repeat;}
		&:checked + label:before {background: url(../img/checkbox-small-checked-bg.png) no-repeat;}
		&:checked + label:hover:before {background: url(../img/checkbox-small-checked-bg-hover.png) no-repeat;}
	}
}



.star {
	background: url(../img/mx.png) -400px 0 no-repeat;
	width: 21px;
	height: 21px;
	display: inline-block;
	vertical-align: middle;
}
.star-default {background-position: -400px -21px;}

.searchForm {
	background: #dbdee3;
	position: relative;
	@include border-radius(2px);
	&:hover {
		.searchForm__field[type="text"] {background: #c9cdd2;}
		.searchForm__btn {
			background: #c9cdd2;
			background: #0097ad;
	    	&:before {background-position: -210px -16px;}
		}
	}
	&__field[type="text"] {
		border: 0;
		background: #dbdee3;
		color: #7c7f82; 
		font-size: 14px;
	}
	&__field[type="text"]::placeholder {color: #7c7f82;}
	&__btn {
		border: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 37px;
		height: 36px;
		background: #dbdee3;
		text-indent: -9000px;
		overflow: hidden;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		&:before  {
			content: "";
			background: url(../img/mx.png) -210px 0 no-repeat;
			width: 14px;
			height: 14px;
			position: absolute;
			left: 12px;
			top: 11px;
	      
	    }
	  		
	}
}


// EXCURSIONS PAGE




/* RESPONSIVE */
@media only screen and (max-width: 1359px) {
	.wrapper {width: 1024px;}


	.header {
		width: 1024px;
 		margin-left: -512px;
 		background: #636b74;
		&__col1 {
			background: none;
			width: 17%;
		}
		&__col2 {
			background: none;
			width: 65.13%;
			margin-left: 0;
		}
		&__col3 {
			display: none;
		}
		&__col4 {
			background: none;
			margin-left: 0;
		}
	}

	

	.nav {padding-left: 0;}
	.search {margin-left: 0;}

	.cart {
		&__icon {
			margin-left: 34px;
		}
		&__count {
			display: none;
		}
	}

	.profile {
		&__icon {
			margin-left: 34px;
		}
	}

	.nav {
		&__item--hasSub {
			.nav__link {display: none;}
			.rollMenu {display: inline-block;}
		}
	}



  }



@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (min--moz-device-pixel-ratio: 1.5), 
only screen and (min-device-pixel-ratio: 1.5) {
	body {
		background-image: url(../img/body-bg@2x.png);
		background-size: 203px 317px;
	}
	a.logo {
		background-image: url(../img/mx@2x.png);
		background-size: 600px 600px;
		&:hover {
			background-position: 0 -50px;
		}
	}

	.search {
		&__zoom {
			background-image: url(../img/mx@2x.png);
			background-size: 600px 600px;
			background-position: -150px 0px;
		}
	}
    
}

