.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 2.5em 4.6em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.cart:before {
      background-position: 0em 0em;
      width: 2.5em;
      height: 2.3em;
  }




  .icon.profile:before {
      background-position: 0em -2.3em;
      width: 2.2em;
      height: 2.3em;
  }





