html, body {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word; }

table {
  border-collapse: collapse;
  width: 100%; }

input:focus {
  outline: none; }

img, table {
  border: none; }

a:link, a:visited {
  color: #007fbc;
  text-decoration: none; }

a:hover, a:active, a:focus {
  color: #007fbc;
  text-decoration: underline;
  outline: 0; }

button {
  outline: none;
  cursor: pointer; }

svg:not(:root) {
  overflow: hidden; }

header, footer, article, section, hgroup, nav, menu, aside, figure, main, video, address, picture, figcaption {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0;
  line-height: 1.3;
  color: #5d6168;
  font-family: 'GothamProNarrow-Bold', sans-serif;
  font-weight: normal; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 10px; }

ul, ol {
  list-style: none; }

p {
  margin: 15px 0;
  line-height: 1.5; }

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

::-webkit-input-placeholder {
  color: #8e9195; }

::-moz-placeholder {
  color: #8e9195; }

:-ms-input-placeholder {
  color: #8e9195; }

::placeholder {
  color: #8e9195; }

/* --------------------- 
INPUT FIELDS
--------------------- */
input[type=text],
input[type=password],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=search],
textarea {
  background: #fff;
  font-family: 'PTSans-Regular';
  font-size: 15px;
  border: 1px solid #c5cbd4;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 6px 12px;
  color: #4c5159;
  width: 100%;
  height: 36px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  resize: vertical; }

input[type=text]:hover,
input[type=password]:hover,
input[type=url]:hover,
input[type=tel]:hover,
input[type=number]:hover,
input[type=color]:hover,
input[type=email]:hover,
input[type=search]:hover,
textarea:hover {
  border-color: #999da0; }

:focus {
  outline: 0; }

body {
  background: #e1c298 url(../img/body-bg.png);
  min-width: 1024px;
  background-attachment: fixed;
  font-family: 'PTSans-Regular', sans-serif;
  font-size: 16px;
  color: #485059; }

.wrapper {
  width: 1335px;
  margin: 0 auto;
  background: #f4f6f8;
  -webkit-box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.35); }

.inner:before, .inner:after {
  content: "";
  display: table; }

.inner:after {
  clear: both; }

.header {
  background: #5d6168;
  width: 1335px;
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 1100;
  margin-left: -667.5px; }
  .header__col1 {
    background: url(../img/header__col1-bg.png) no-repeat;
    float: left;
    min-height: 43px;
    width: 18.65%; }
  .header__col2 {
    float: left;
    width: 56.78%; }
  .header__col3 {
    float: left;
    min-height: 43px;
    width: 24.57%; }

a.logo {
  display: block;
  background: url(../img/mx.png) no-repeat;
  width: 123px;
  height: 27px;
  text-indent: -9000px;
  overflow: hidden;
  text-decoration: none;
  margin: 7px 0 0 20px; }
  a.logo:hover {
    background-position: 0 -100px; }

.nav {
  padding: 0 0 0 1px;
  white-space: nowrap; }
  .nav__item {
    position: relative;
    padding: 8px 16px 10px 16px;
    position: relarive;
    display: inline-block;
    margin-right: -4px;
    white-space: nowrap; }
  .nav__link {
    color: #f4f6f8 !important;
    line-height: 25px;
    text-decoration: none !important; }
    .nav__link:hover {
      color: #d0ffbd !important; }
  .nav__link--curr:after {
    content: "";
    background: url(../img/mx.png) -200px 0 no-repeat;
    width: 7px;
    height: 4px;
    display: inline-block;
    vertical-align: middle;
    margin: 2px -4px 0 8px; }
  .nav__link--curr:before {
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle; }
  .nav__item--activ .nav__link {
    color: #d0ffbd !important; }
  .nav__item--hasSub .rollMenu {
    display: none;
    cursor: pointer;
    width: 17px;
    position: relative;
    vertical-align: middle;
    top: 0px;
    left: 4px; }
    .nav__item--hasSub .rollMenu__row {
      height: 3px;
      display: block;
      overflow: hidden;
      background: #fff;
      margin-bottom: 3px; }
  .nav__item--hasSub .rollMenu.activ .rollMenu__row {
    background: #9fe09f; }
  .nav__sub {
    position: absolute;
    width: 100%;
    left: 0;
    top: 38px;
    z-index: 100;
    padding: 8px 0 10px 0;
    background: #fff;
    -webkit-box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.35);
    display: none; }
  .nav__subItem {
    padding: 13px 4px; }
  .nav__subLink {
    color: #495059 !important;
    text-transform: uppercase;
    text-align: center;
    display: block; }

.languages {
  margin: 0 0 0 54px;
  float: left; }
  .languages__item {
    padding: 8px 0 0 18px; }
  .languages__link {
    text-decoration: none !important; }
    .languages__link:after {
      content: "";
      background: url(../img/mx.png) -200px 0 no-repeat;
      width: 7px;
      height: 4px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: 3px;
      margin: 0 -4px 0 0px; }
    .languages__link:before {
      content: "";
      display: inline-block;
      min-height: inherit;
      height: 100%;
      vertical-align: middle; }

.flag {
  background: url(../img/mx.png);
  width: 23px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
  position: relative; }

.flag-ru {
  background-position: -300px 0; }

.currencies {
  float: left; }
  .currencies__item {
    position: relative;
    padding: 9px 0 0 0;
    margin: 0 0 0 13px;
    min-height: 43px; }
  .currencies__link {
    color: #f8f8f8 !important;
    text-decoration: none !important;
    text-transform: uppercase;
    padding: 0 19px 0 21px; }
    .currencies__link:after {
      content: "";
      background: url(../img/mx.png) -200px 0 no-repeat;
      width: 7px;
      height: 4px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: 2px;
      margin: 0 -4px 0 5px; }
    .currencies__link:before {
      content: "";
      display: inline-block;
      min-height: inherit;
      height: 100%;
      vertical-align: middle; }
  .currencies__sub {
    position: absolute;
    width: 100%;
    left: 0;
    top: 38px;
    z-index: 100;
    padding: 8px 0 10px 0;
    background: #fff;
    -webkit-box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.35);
    display: none; }
  .currencies__subItem {
    padding: 13px 4px; }
  .currencies__subLink {
    color: #495059 !important;
    text-transform: uppercase;
    text-align: center;
    display: block; }

.cart {
  float: left; }
  .cart__icon {
    background: url(../img/svgicons/cart.svg) no-repeat;
    width: 25px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 10px 0 0 19px; }

.profile {
  float: left; }
  .profile__icon {
    background: url(../img/svgicons/profile.svg) no-repeat;
    width: 22px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 10px 0 0 35px; }

.hidMenu {
  display: none;
  width: 306px;
  min-height: 200px;
  position: absolute;
  top: 43px;
  right: 0; }
  .hidMenu:before {
    content: "";
    background: #5e666e;
    height: 43px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-bottom-left-radius: 2px;
            border-bottom-left-radius: 2px; }
  .hidMenu .nav__link {
    float: left;
    margin: 7px 0 0 0;
    position: relative;
    z-index: 2; }
  .hidMenu .languages {
    margin-left: 17px;
    position: relative;
    z-index: 2; }
    .hidMenu .languages__item {
      padding-top: 7px; }
  .hidMenu .currencies {
    position: relative;
    z-index: 2; }
    .hidMenu .currencies__item {
      padding-top: 9px; }

.hidFirstChild {
  float: left;
  position: relative;
  margin: 0 0 0 30px; }

/* MAIN SECTION */
.main {
  margin: 43px 0 0 0; }

.sidebar {
  float: left;
  border-right: 1px solid #d6d9de;
  font-size: 15px;
  width: 311px;
  margin-left: -100%;
  position: relative; }
  .sidebar__title {
    margin: 0;
    padding: 20px 20px 6px 20px; }

.filter__location {
  padding: 10px; }

.filter__count {
  padding: 10px 20px; }

.filter__price {
  padding: 10px 20px; }

.filter__rating {
  padding: 8px 10px 10px 10px; }

.filter__results {
  padding: 10px 20px 30px 20px; }

.filter__search {
  margin: 0 20px;
  border: 1px solid #d6d9de;
  border-width: 1px 0;
  padding: 30px 0; }

.filter__settings {
  padding: 0 20px 20px 20px; }

.calendar {
  padding: 10px 20px; }
  .calendar:before, .calendar:after {
    content: "";
    display: table; }
  .calendar:after {
    clear: both; }
  .calendar__data {
    width: 47.41%;
    float: left;
    position: relative; }
  .calendar__line {
    width: 5.18%;
    float: left;
    color: #677887;
    text-align: center;
    padding: 7px 0 0 0; }
  .calendar__field[type="text"] {
    padding-right: 24px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    background-image: url(../img/calendar.png);
    background-repeat: no-repeat;
    background-position: 90% 11px;
    cursor: pointer; }

.countList:before, .countList:after {
  content: "";
  display: table; }

.countList:after {
  clear: both; }

.countList__item {
  width: 47.41%;
  float: left;
  position: relative;
  margin-left: 5.18%; }
  .countList__item:first-child {
    margin-left: 0; }

.countList__text {
  position: relative;
  width: 60.94%;
  float: left;
  padding: 8px 10px 0 0;
  text-align: right;
  font-size: 15px; }

.countList__choose {
  cursor: pointer;
  color: #495059;
  border-bottom: 1px dashed #a0a4a9;
  font-style: normal; }
  .countList__choose:hover {
    border-bottom: 0; }

.countList .chosen-wrap {
  width: 39.06%;
  float: right; }

.explanations {
  display: none;
  overflow: visible !important;
  background: #f4f8fb;
  width: 270px;
  padding: 16px 18px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
  position: absolute;
  left: -87px;
  top: 47px;
  z-index: 100;
  text-align: left; }
  .explanations span {
    display: block;
    line-height: 1.2; }
  .explanations .ex-cloze {
    background: url(../img/svgicons/cloze.svg) no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer; }
    .explanations .ex-cloze:hover {
      background-image: url(../img/svgicons/cloze-hover.svg); }
  .explanations:before {
    content: "";
    width: 34px;
    height: 22px;
    background: url(../img/mx.png) -500px 0 no-repeat;
    position: absolute;
    left: 50%;
    top: -22px;
    margin-left: -17px; }

.rating {
  padding: 0 0 0 21px; }
  .rating__item {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 11px; }
    .rating__item a {
      color: #8e9297;
      position: relative; }
    .rating__item a.rating__link--more {
      top: 1px; }

.bnt {
  border: 0;
  background: #da6797;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #fff;
  padding: 7px 22px;
  line-height: 1.48;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  font-family: 'PTSans-Regular';
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  overflow: vissible; }
  .bnt:hover {
    background: #cc5b8a; }
  .bnt:disabled {
    background: #f5cbdc; }
  .bnt.bnt--repl {
    background: #0097ad; }
  .bnt.bnt--repl:hover {
    background: #008da1; }

.results:before, .results:after {
  content: "";
  display: table; }

.results:after {
  clear: both; }

.results__items {
  max-width: 50.74%;
  float: left;
  margin: 0;
  padding: 7px 0 0 4px; }

.results__counts {
  color: #e76c95; }

.results .bnt {
  float: right; }

.settingsList {
  padding: 25px 0 9px 0; }
  .settingsList.settingsList--noTitle {
    padding-top: 11px; }
    .settingsList.settingsList--noTitle dt {
      height: 0;
      overflow: hidden; }
  .settingsList dt {
    color: #8e9297;
    font-weight: bold; }
  .settingsList dd {
    margin: 18px 0 0 0;
    position: relative; }
  .settingsList__popap {
    display: none;
    background: #f4f8fb;
    padding: 14px 18px;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
    position: absolute;
    white-space: nowrap;
    left: 254px;
    top: -18px;
    z-index: 100; }
    .settingsList__popap p {
      margin: 0; }
      .settingsList__popap p a {
        text-decoration: none;
        border-bottom: 1px dashed; }
        .settingsList__popap p a:hover {
          text-decoration: none;
          border-bottom: 0; }
    .settingsList__popap:before {
      content: "";
      width: 22px;
      height: 34px;
      background: url(../img/mx.png) -500px -22px no-repeat;
      position: absolute;
      left: -22px;
      top: 50%;
      margin-top: -17px; }
  .settingsList__count {
    position: absolute;
    right: 0;
    top: -2px;
    color: #8e9297; }

.checkboxWrap {
  position: relative; }
  .checkboxWrap input {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0; }
    .checkboxWrap input + label {
      cursor: pointer; }
    .checkboxWrap input:not(checked) {
      position: absolute;
      opacity: 0; }
    .checkboxWrap input:not(checked) + label {
      position: relative;
      padding: 0 45px 0 25px;
      display: block;
      line-height: 1.2;
      overflow: hidden; }
    .checkboxWrap input:not(checked) + label:before {
      content: '';
      background: url(../img/checkbox-small-bg.png) no-repeat;
      width: 17px;
      height: 17px;
      position: absolute;
      left: 0;
      top: 0px; }
    .checkboxWrap input:not(checked) + label:hover:before {
      background: url(../img/checkbox-small-bg-hover.png) no-repeat; }
    .checkboxWrap input:checked + label:before {
      background: url(../img/checkbox-small-checked-bg.png) no-repeat; }
    .checkboxWrap input:checked + label:hover:before {
      background: url(../img/checkbox-small-checked-bg-hover.png) no-repeat; }

.star {
  background: url(../img/svgicons/star.svg) no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block;
  vertical-align: middle; }

.star-default {
  background-image: url(../img/svgicons/star-default.svg); }

.searchForm {
  background: #fff;
  position: relative;
  -webkit-border-radius: 2px;
          border-radius: 2px; }
  .searchForm:hover .searchForm__field {
    border-color: #999da0; }
  .searchForm:hover .searchForm__btn {
    border-color: #999da0; }
  .searchForm__field[type="text"] {
    position: relative;
    z-index: 1001; }
  .searchForm__btn {
    border: 1px solid #c4ccd5;
    border-left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1002;
    width: 37px;
    height: 36px;
    background: #fff;
    text-indent: -9000px;
    overflow: hidden;
    -webkit-border-top-right-radius: 2px;
            border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
            border-bottom-right-radius: 2px; }
    .searchForm__btn:hover {
      border-color: #0097ad !important;
      background: #0097ad; }
      .searchForm__btn:hover:before {
        background-position: -210px -16px; }
    .searchForm__btn:before {
      content: "";
      background: url(../img/mx.png) -210px 0 no-repeat;
      width: 14px;
      height: 14px;
      position: absolute;
      left: 12px;
      top: 11px; }

.notice {
  display: none;
  overflow: visible !important;
  background: #feffdc;
  width: 270px;
  padding: 15px 32px 17px 18px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 100;
  text-align: left;
  color: #485059; }
  .notice span {
    display: block;
    line-height: 1.2; }
  .notice-cloze {
    background: url(../img/svgicons/cloze.svg) no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer; }
    .notice-cloze:hover {
      background-image: url(../img/svgicons/cloze-hover.svg); }
  .notice:before {
    content: "";
    width: 34px;
    height: 23px;
    background: url(../img/mx.png) -500px -100px no-repeat;
    position: absolute;
    left: 46px;
    top: -23px; }

.container {
  width: 100%;
  float: left;
  overflow: hidden; }

.page {
  margin: 0 0 0 310px;
  border-left: 1px solid #d6d9de;
  padding: 0 32px; }

.catalog__header {
  padding: 43px 0 0 0; }
  .catalog__header:before, .catalog__header:after {
    content: "";
    display: table; }
  .catalog__header:after {
    clear: both; }

.catalog__title {
  float: left;
  margin: 0;
  font-size: 27px; }

.catalog__filter {
  float: right;
  padding: 11px 12px 0 0; }

.catalog__item {
  padding: 0 0 0 40px;
  float: left; }
  .catalog__item a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    position: relative;
    color: #485059;
    border-bottom: 1px dashed #a5aaae; }
    .catalog__item a:hover {
      text-decoration: none;
      border-bottom: 0; }

.catalog__item--activ a {
  color: #e44c82; }
  .catalog__item--activ a:before {
    content: '';
    background: url(../img/mx.png) -400px -46px no-repeat;
    width: 9px;
    height: 6px;
    position: absolute;
    right: -12px;
    top: 9px; }

.catalog__body {
  padding: 26px 0 0 0; }

.catalogList__item {
  width: 31.25%;
  float: left;
  margin: 0 0 30px 3.125%;
  position: relative; }

.catalogList__item:nth-child(3n+1) {
  margin-left: 0; }

.catalogList__pic {
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.catalogList__rate {
  width: 32px;
  height: 32px;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  z-index: 10; }
  .catalogList__rate:before {
    content: '';
    background: #f4f6f8;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10; }
  .catalogList__rate .star {
    position: absolute;
    bottom: 11px;
    left: 10px;
    z-index: 11; }

.catalogList__desc {
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-border-bottom-right-radius: 2px;
          border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
          border-bottom-left-radius: 2px;
  padding: 6px 10px 7px 10px; }

.catalogList__title {
  margin: 0;
  line-height: 1.2; }

.catalogList__entry {
  font-size: 15px;
  padding: 3px 0 0 0; }
  .catalogList__entry:before, .catalogList__entry:after {
    content: "";
    display: table; }
  .catalogList__entry:after {
    clear: both; }

.catalogList__col1 {
  width: 80%;
  float: left;
  margin: 0; }

.catalogList__col2 {
  width: 20%;
  float: right;
  text-align: right;
  margin: 0; }

.catalogList__discount {
  background: url(../img/mx.png) -400px 0 no-repeat;
  width: 40px;
  height: 41px;
  position: absolute;
  left: 10px;
  top: -2px;
  font-family: 'GothamProNarrow-Medium';
  font-size: 14px;
  color: #2d3135;
  text-align: center;
  padding: 12px 0 0 0; }

.current--price {
  padding-right: 1px; }

.former--price {
  color: #7c8083;
  text-decoration: line-through;
  padding-right: 5px; }

/* RESPONSIVE */
@media only screen and (max-width: 1359px) {
  .wrapper {
    width: 100%; }
  .header {
    width: 100%;
    margin-left: 0;
    left: 0; }
    .header__col1 {
      width: 24.61%; }
    .header__col2 {
      width: 64.45%; }
    .header__col3 {
      width: 10.94%; }
  .nav {
    padding-left: 0; }
  .search {
    margin-left: 0; }
  .cart__icon {
    margin-left: 0; }
  .profile__icon {
    margin-left: 35px; }
  .nav__item--hasSub .nav__link {
    display: none; }
  .nav__item--hasSub .rollMenu {
    display: inline-block; } }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  body {
    background-image: url(../img/body-bg@2x.png);
    background-size: 203px 317px; }
  a.logo {
    background-image: url(../img/mx@2x.png);
    background-size: 600px 600px; }
    a.logo:hover {
      background-position: 0 -50px; }
  .search__zoom {
    background-image: url(../img/mx@2x.png);
    background-size: 600px 600px;
    background-position: -150px 0px; } }
