html, body {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word; }

table {
  border-collapse: collapse;
  width: 100%; }

input:focus {
  outline: none; }

img, table {
  border: none; }

a:link, a:visited {
  color: #007fbc;
  text-decoration: none; }

a:hover, a:active, a:focus {
  color: #007fbc;
  text-decoration: underline;
  outline: 0; }

button {
  outline: none;
  cursor: pointer; }

svg:not(:root) {
  overflow: hidden; }

header, footer, article, section, hgroup, nav, menu, aside, figure, main, video, address, picture, figcaption {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0;
  line-height: 1.3;
  font-family: 'GothamProNarrow-Bold', sans-serif;
  font-weight: normal; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 10px; }

ul, ol {
  list-style: none; }

p {
  margin: 15px 0;
  line-height: 1.5; }

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

::-webkit-input-placeholder {
  color: #bfb6b2; }

::-moz-placeholder {
  color: #bfb6b2; }

:-ms-input-placeholder {
  color: #bfb6b2; }

::placeholder {
  color: #bfb6b2; }

/* --------------------- 
INPUT FIELDS
--------------------- */
input[type=text],
input[type=password],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=search],
textarea {
  background: #fff;
  font-size: 15px;
  border: 1px solid #c4ccd5;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 6px 12px;
  color: #bfb6b2;
  width: 100%;
  height: 36px; }

textarea {
  resize: vertical; }

body {
  background: #e1c298 url(../img/body-bg.png);
  background-attachment: fixed;
  font-family: 'PTSans-Regular', sans-serif;
  font-size: 16px;
  color: #485059; }

.wrapper {
  width: 1334px;
  margin: 0 auto;
  background: #fff;
  min-height: 1200px;
  -webkit-box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.35); }

.inner:before, .inner:after {
  content: "";
  display: table; }

.inner:after {
  clear: both; }

.header {
  background: #626b74 url(../img/header_bg.png) no-repeat;
  width: 1334px;
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 10;
  margin-left: -667px; }
  .header__col1 {
    background: #626b74;
    float: left;
    min-height: 43px;
    width: 13.94%; }
  .header__col2 {
    background: url(../img/header_bg.png) 0 -43px no-repeat;
    float: left;
    width: 59.22%;
    margin-left: -37px; }
  .header__col3 {
    background: url(../img/header_bg.png) 0 -86px no-repeat;
    float: left;
    min-height: 43px;
    width: 16.19%;
    margin-left: -37px; }
  .header__col4 {
    background: url(../img/header_bg.png) 0 -129px no-repeat;
    float: left;
    min-height: 43px;
    margin-left: -37px; }

a.logo {
  display: block;
  background: url(../img/mx.png) no-repeat;
  width: 123px;
  height: 27px;
  text-indent: -9000px;
  overflow: hidden;
  text-decoration: none;
  margin: 7px 0 0 20px; }
  a.logo:hover {
    background-position: 0 -100px; }

.nav {
  padding: 0 0 0 34px;
  white-space: nowrap; }
  .nav__item {
    position: relative;
    padding: 9px 16px;
    position: relarive;
    display: inline-block;
    margin-right: -4px;
    white-space: nowrap; }
  .nav__link {
    color: #e9eaeb !important;
    line-height: 25px;
    text-decoration: none !important; }
    .nav__link:hover {
      color: #9fe09f !important; }
  .nav__link--curr:after {
    content: "";
    background: url(../img/mx.png) -200px 0 no-repeat;
    width: 7px;
    height: 4px;
    display: inline-block;
    vertical-align: middle;
    margin: 2px -4px 0 5px; }
  .nav__link--curr:before {
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle; }
  .nav__item--activ .nav__link {
    color: #9fe09f !important; }
  .nav__item--hasSub .rollMenu {
    display: none;
    cursor: pointer;
    width: 17px;
    position: relative;
    vertical-align: middle;
    top: 1px; }
    .nav__item--hasSub .rollMenu__row {
      height: 3px;
      display: block;
      overflow: hidden;
      background: #fff;
      margin-bottom: 3px; }
  .nav__item--hasSub .rollMenu.activ .rollMenu__row {
    background: #9fe09f; }
  .nav__sub {
    position: absolute;
    width: 100%;
    left: 0;
    top: 38px;
    z-index: 100;
    padding: 8px 0 10px 0;
    background: #fff;
    -webkit-box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.35);
    display: none; }
  .nav__subItem {
    padding: 13px 4px; }
  .nav__subLink {
    color: #495059 !important;
    text-transform: uppercase;
    text-align: center;
    display: block; }

.languages {
  margin: 0 0 0 34px;
  float: left; }
  .languages__item {
    padding: 9px 0 0 18px; }
  .languages__link:after {
    content: "";
    background: url(../img/mx.png) -200px 0 no-repeat;
    width: 7px;
    height: 4px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 4px;
    margin: 0 -4px 0 2px; }
  .languages__link:before {
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle; }

.flag {
  background: url(../img/mx.png);
  width: 23px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
  position: relative; }

.flag-ru {
  background-position: -300px 0; }

.currencies {
  float: left; }
  .currencies__item {
    position: relative;
    padding: 11px 0 0 0;
    margin: 0 0 0 12px;
    min-height: 43px; }
  .currencies__link {
    color: #f8f8f8 !important;
    text-decoration: none !important;
    text-transform: uppercase;
    padding: 0 19px 0 21px; }
    .currencies__link:after {
      content: "";
      background: url(../img/mx.png) -200px 0 no-repeat;
      width: 7px;
      height: 4px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: 2px;
      margin: 0 -4px 0 5px; }
    .currencies__link:before {
      content: "";
      display: inline-block;
      min-height: inherit;
      height: 100%;
      vertical-align: middle; }
  .currencies__sub {
    position: absolute;
    width: 100%;
    left: 0;
    top: 38px;
    z-index: 100;
    padding: 8px 0 10px 0;
    background: #fff;
    -webkit-box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.35);
    display: none; }
  .currencies__subItem {
    padding: 13px 4px; }
  .currencies__subLink {
    color: #495059 !important;
    text-transform: uppercase;
    text-align: center;
    display: block; }

.search {
  margin: 0 0 0 34px;
  position: relative;
  float: left; }
  .search__icon {
    background: url(../img/svgicons/search.svg) no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 11px 0 0 23px; }
  .search__form {
    position: absolute;
    background: #dbdee3;
    top: 0;
    right: -13px;
    min-height: 43px;
    width: 270px;
    display: none; }
  .search__field[type="text"] {
    background: #dbdee3;
    border: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
    height: 43px;
    padding: 6px 27px 6px 14px;
    color: #7c7f82; }
  .search__field[type="text"]::-webkit-input-placeholder {
    color: #7c7f82; }
  .search__field[type="text"]::-moz-placeholder {
    color: #7c7f82; }
  .search__field[type="text"]:-ms-input-placeholder {
    color: #7c7f82; }
  .search__field[type="text"]::placeholder {
    color: #7c7f82; }
  .search__zoom {
    border: 0;
    background: url(../img/mx.png) -210px 0 no-repeat;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 11px;
    top: 15px;
    text-indent: -9000px;
    overflow: hidden;
    z-index: 10;
    cursor: pointer; }

.cart {
  float: left; }
  .cart__icon {
    background: url(../img/svgicons/cart.svg) no-repeat;
    width: 25px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 10px 0 0 48px; }
  .cart__count {
    display: inline-block;
    vertical-align: middle;
    background: #f8679a;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    margin: 0 0 0 -1px;
    position: relative;
    top: 5px; }

.profile {
  float: left; }
  .profile__icon {
    background: url(../img/svgicons/profile.svg) no-repeat;
    width: 22px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 10px 0 0 20px; }

.hidMenu {
  display: none;
  width: 306px;
  min-height: 200px;
  position: absolute;
  top: 43px;
  right: 0; }
  .hidMenu:before {
    content: "";
    background: #5e666e;
    height: 43px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-bottom-left-radius: 2px;
            border-bottom-left-radius: 2px; }
  .hidMenu .nav__link {
    float: left;
    margin: 7px 0 0 0;
    position: relative;
    z-index: 2; }
  .hidMenu .languages {
    margin-left: 17px;
    position: relative;
    z-index: 2; }
    .hidMenu .languages__item {
      padding-top: 7px; }
  .hidMenu .currencies {
    position: relative;
    z-index: 2; }
    .hidMenu .currencies__item {
      padding-top: 9px; }

.hidFirstChild {
  float: left;
  position: relative;
  margin: 0 0 0 30px; }

/* RESPONSIVE */
@media only screen and (max-width: 1358px) {
  .wrapper {
    width: 1000px; }
  .header {
    width: 1000px;
    margin-left: -500px;
    background: #636b74; }
    .header__col1 {
      background: none;
      width: 17%; }
    .header__col2 {
      background: none;
      width: 65.13%;
      margin-left: 0; }
    .header__col3 {
      display: none; }
    .header__col4 {
      background: none;
      margin-left: 0; }
  .nav {
    padding-left: 0; }
  .search {
    margin-left: 0; }
  .cart__icon {
    margin-left: 34px; }
  .cart__count {
    display: none; }
  .profile__icon {
    margin-left: 34px; }
  .nav__item--hasSub .nav__link {
    display: none; }
  .nav__item--hasSub .rollMenu {
    display: inline-block; } }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  body {
    background-image: url(../img/body-bg@2x.png);
    background-size: 203px 317px; }
  a.logo {
    background-image: url(../img/mx@2x.png);
    background-size: 600px 600px; }
    a.logo:hover {
      background-position: 0 -50px; }
  .search__zoom {
    background-image: url(../img/mx@2x.png);
    background-size: 600px 600px;
    background-position: -150px 0px; } }
